@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.page-bg{
    background-color: #1b1b1b;
    height: 100vh;
    background-size: cover;
    padding: 25px;
}

.home-page-h1{
    font-family: 'Bree Serif';
    color: white;
    font-size: 25px;
    padding: 10px;
}

.book1-card{
    background-color: #e6f6ff;
    border-radius: 10px;
}

.book1-h1{
    font-family: "Bree Serif";
    color: #183b56;
    font-size: 16px;
}

.book1-p1{
    font-family: "Bree Serif";
    color: #06070d;
    font-size: 13px;
}

.book1-p2{
    font-family: "Bree Serif";
    color: #183b56;
    font-size: 10px;
}

.book1-img{
    width: 110px;
    height: 160px;
}

.book1-text{
    padding: 15px;
}

.home-page-h2{
    font-family: 'Bree Serif';
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.book2-3-img{
    width: 90px;
    height: 130px;
}

.book2-3-text{
    padding: 15px;
}

.book2-3-h1{
    font-family: 'Bree Serif';
    color: white;
    font-size: 16px;
}

.book2-3-p1{
    font-family: 'Bree Serif';
    color: #e4e7eb;
    font-size: 13px;
}

.book2-card{
    padding-bottom: 15px;
    padding-top: 15px;
}

.button{
    font-size: 12px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.detail-page-bg{
    background-color: #1b1b1b;
    height: 100vh;
    background-size: cover;
    padding: 25px;
    text-align: center;
}

.detail-page-img{
    width: 210px;
    height: 300px;
}

.detail-page-h1{
    font-family: 'Bree Serif';
    color: white;
    font-size: 27px;
    padding: 10px;

}

.detail-page-p1{
    font-family: 'Bree Serif';
    color: #9aa5b1;
    font-size: 15px;
}

.detail-page-p2{
    font-family: 'Bree Serif';
    color: #e4e7eb;
    font-size: 13px;
    text-align: justify;
}


